---
title: ভাঁড়ার
permalink: "/categories/"
layout: page
---

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.6.1/fuse.min.js"></script>
{% assign scategories = site.categories | sort %}
<main class="content" role="main">
  <article class="preview">
    <ul class="category-cloud">
      {% for category in scategories %}
      <li
        class="cloud-item"
        style="font-size: max(24px, min(48px, {{ category | last | size | times: 50 | divided_by: site.categories.size | plus: 30 }}%))"
      >
        <a href="#{{ category | first | slugize }}">
          {{ category | first }}({{ category | last | size | replace:'1','১' |
          replace:'2','২' | replace:'3','৩' | replace:'4','৪' | replace:'5','৫'
          | replace:'6','৬' | replace:'7','৭' | replace:'8','৮' |
          replace:'9','৯' | replace:'0','০' }})
        </a>
      </li>
      {% endfor %}
    </ul>
    <p class="post-count text-center">
      মোট
      <b
        >{{ site.categories | size | replace:'1','১' | replace:'2','২' |
        replace:'3','৩' | replace:'4','৪' | replace:'5','৫' | replace:'6','৬' |
        replace:'7','৭' | replace:'8','৮' | replace:'9','৯' | replace:'0','০'
        }}টি</b
      >
      বিষয়ে
      <b
        >{{ site.posts | size | replace:'1','১' | replace:'2','২' |
        replace:'3','৩' | replace:'4','৪' | replace:'5','৫' | replace:'6','৬' |
        replace:'7','৭' | replace:'8','৮' | replace:'9','৯' | replace:'0','০'
        }}টি</b
      >
      পোস্ট
    </p>
    <div id="archives">
      {% for category in scategories %}
      <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <h3 id="#{{ category_name | slugize }}">
          {{ category_name }}({{ category | last | size | replace:'1','১' |
          replace:'2','২' | replace:'3','৩' | replace:'4','৪' | replace:'5','৫'
          | replace:'6','৬' | replace:'7','৭' | replace:'8','৮' |
          replace:'9','৯' | replace:'0','০' }})
        </h3>
        <a name="{{ category_name | slugize }}"></a>
        {% assign sposts = site.categories[category_name] | sort: 'title' %} {%
        for post in sposts %}
        <article class="archive-item">
          <h4><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h4>
        </article>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </article>
</main>
