<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/index.html">নীড়</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/authors-list.html">আত্মপরিচয়</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{site.baseurl}}/author-luna.html">যোগাযোগ</a>
</li>
<li class="nav-item">
  <a
    target="_blank"
    class="nav-link"
    href="https://www.wowthemes.net/themes/mundana-wordpress/"
    >WP</a
  >
</li>
<li class="nav-item">
  <a
    target="_blank"
    class="nav-link"
    href="https://www.wowthemes.net/themes/mundana-ghost/"
    >Ghost</a
  >
</li>
<li class="nav-item">
  <a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/"
    >Buy me a coffee <i class="fa fa-coffee text-danger"></i
  ></a>
</li>
