<!--  Replace menu links here -->

<li class="nav-item">
  <a class="nav-link" href="/index.html">নীড়</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/author-luna.html">আত্মপরিচয়</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/categories">ভাঁড়ার</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/contact.html">যোগাযোগ</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="https://sharmaluna.com">শর্মালুনা.কম</a>
</li>
<li class="nav-item">
  <a
    class="nav-link login"
    href="https://manage.siteleaf.com/sites/67cdc8ed3ce86e4746a7327a/collections/posts"
    target="_blank"
    rel="noopener noreferrer"
    >লগিন</a
  >
</li>
