<ul class="navbar-nav">
  {% for item in site.data.site-data.menu %} {% if item.dropdown %}
  <!-- Dropdown Menu Item -->
  <li class="nav-item dropdown">
    <a
      class="nav-link dropdown-toggle"
      href="{{ item.url }}"
      id="{{ item.title | slugify }}Dropdown"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ item.title }}
    </a>
    <ul
      class="dropdown-menu"
      aria-labelledby="{{ item.title | slugify }}Dropdown"
    >
      {% for sub_item in item.dropdown %}
      <li>
        <a class="dropdown-item" href="{{ sub_item.url }}"
          >{{ sub_item.title }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </li>
  {% else %}
  <!-- Regular Menu Item -->
  <li class="nav-item">
    <a
      class="nav-link"
      href="{{ item.url }}"
      {%
      if
      item.external
      %}target="_blank"
      rel="noopener noreferrer"
      {%
      endif
      %}
      >{{ item.title }}</a
    >
  </li>
  {% endif %} {% endfor %}
</ul>
